.gibby {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 350px;
    

}
h1 {
    color: rgb(244, 55, 244);
text-align: center;
}
p {
    color: blueviolet;
    text-align: center;
}
body {
    background-color: beige;
}

.me {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 150px;
    
}
h2{
    color: rgb(46, 46, 233);
    text-decoration: underline;
}
a {
    color: rgb(223, 20, 88);
    font-size: 20px;
}
